LANGUAGE LANG_GERMAN, SUBLANG_DEFAULT

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

// Throughout, we use the font "MS Shell Dlg". This seems to be necessary to
// work around some not-fully-understood issues with PropertySheets. Hopefully,
// using this font will cause things to 'just work'. Further information on
// this topic is at:
//   http://sources.redhat.com/ml/cygwin-apps/2003-05/msg00177.html

IDD_SOURCE DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_CENTER | WS_CHILD | WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup - Installationstyp wählen"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "Aus dem &Internet installieren  (die heruntergeladenen\nDateien bleiben für zukünftigen Gebrauch erhalten)",
                    IDC_SOURCE_NETINST, "Button",
		    BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP | BS_MULTILINE | BS_TOP, 71, 60, 200, 20

    CONTROL         "&Ohne Installation herunterladen",
                    IDC_SOURCE_DOWNLOAD, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 71, 90, 200, 10

    CONTROL         "Aus einem &lokalen Verzeichnis installieren",
		    IDC_SOURCE_CWD,"Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 71,120,200,10

    ICON            IDI_OSGEO4W, IDC_HEADICON, 312, 0, 21, 20
    CONTROL         "", IDC_HEADSEPARATOR, "Static", SS_BLACKFRAME | SS_SUNKEN, 0, 28, 339, 1
    LTEXT           "Download-Quelle wählen",
		    IDC_STATIC_HEADER_TITLE, 7, 0, 258, 8, NOT WS_GROUP
    LTEXT           "Wählen Sie, ob Sie aus dem Internet herunterladen oder installieren oder aus einem lokalen Verzeichnis installieren wollen.",
                    IDC_STATIC, 21, 9, 239, 16, NOT WS_GROUP
END

IDD_VIRUS DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_CENTER | WS_CHILD | WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup - Virenscanner abschalten?"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "Virenscanner &abschalten",
		    IDC_DISABLE_AV,"Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,101,69,115,10
    CONTROL         "Virenscanner aktiv &lassen",
		    IDC_LEAVE_AV,"Button", BS_AUTORADIOBUTTON | WS_TABSTOP,101,84,115,10
    ICON            IDI_OSGEO4W,IDC_HEADICON,312,0,21,20
    CONTROL         "",IDC_HEADSEPARATOR,"Static",SS_BLACKFRAME | SS_SUNKEN,0,28,339,1
    LTEXT           "Wählen Sie, ob Ihr Virenscanner während der Installation abgeschaltet werden soll.",
		    IDC_STATIC_HEADER_TITLE,7,0,258,8,NOT WS_GROUP
    LTEXT           "Einige Antivirenprogramme, insbesondere McAfee, verursachen einen Bluescreen unter Windows NT/2000/XP-Rechnern während der Installation von OSGeo4W.",
		    IDC_STATIC,21,9,239,16,NOT WS_GROUP
    LTEXT	    "Einer, der ein Problem verursachen könnte, wurde festgestellt. OSGeo4W-Setup cann ihn während der Installation ab- und danach wieder einschalten.",
                    IDC_STATIC,21,32,239,24,NOT WS_GROUP
END

IDD_LOCAL_DIR DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_CENTER | WS_CHILD | WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup - Wählen Sie ein lokales Paketverzeichnis"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Lokales Paketverzeichnis wählen",
		    IDC_STATIC_HEADER_TITLE, 7,0,258,8,NOT WS_GROUP
    LTEXT           "Wählen Sie ein Verzeichnis in der Setup die heruntergeladenen Dateien speichern soll.  Falls es noch nicht existiert, wird es erzeugt.",
		    IDC_STATIC,21,9,248,16,NOT WS_GROUP
    ICON            IDI_OSGEO4W,IDC_HEADICON,312,0,21,20
    CONTROL         "",IDC_HEADSEPARATOR,"Static",SS_BLACKFRAME | SS_SUNKEN,0,28,312,1
    GROUPBOX        "Lokales Paketverzeichnis",
		    IDC_LOCALDIR_GRP,5,72,305,35
    EDITTEXT        IDC_LOCAL_DIR,13,85,235,14,ES_AUTOHSCROLL | WS_GROUP
    PUSHBUTTON      "&Durchsuchen...",
		    IDC_LOCAL_DIR_BROWSE,250,85,55,14
    GROUPBOX        "Name der Startmenügruppe",
		    IDC_MENUNAME_GRP,5,112,305,35
    EDITTEXT        IDC_MENUNAME_TEXT,13,125,235,14,ES_AUTOHSCROLL | WS_GROUP
END

IDD_ROOT DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_CENTER | WS_CHILD | WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup - Installationsverzeichnis wählen"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Installationsverzeichnis wählen",
		    IDC_STATIC_HEADER_TITLE,7,0,258,8,NOT WS_GROUP
    LTEXT           "Wählen Sie das Verzeichnis in dem OSGeo4W installiert werden soll. Legen Sie außerdem einige Installationsparameter fest.",
                    IDC_STATIC,21,9,239,16,NOT WS_GROUP
    ICON            IDI_OSGEO4W,IDC_HEADICON,312,0,21,20
    CONTROL         "",IDC_HEADSEPARATOR,"Static",SS_BLACKFRAME | SS_SUNKEN,0,28,317,1

    GROUPBOX        "Wurzelverzeichnis",
		    IDC_ROOTDIR_GRP,5,35,305,35
    EDITTEXT        IDC_ROOT_DIR,13,47,245,14,ES_AUTOHSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Durchsuchen...",
		    IDC_ROOT_BROWSE,260,47,44,14,WS_TABSTOP

    GROUPBOX        "Installieren für",
		    IDC_INSTALLFOR_GRP,5,76,150,101
    CONTROL         "&Alle Benutzer (EMPFOHLEN)",
		    IDC_ROOT_SYSTEM,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP,13,89,130,8
    CONTROL         "Nur &Mich",
		    IDC_ROOT_USER,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,13,130,130,8
    LTEXT           "OSGeo4W wird für alle Benutzer des Systems verfügbar sein.",
                    IDC_ALLUSERS_TEXT,25,101,125,28
    LTEXT           "OSGeo4W wird nur für den aktuellen Benutzer verfügbar sein. Falls Sie keine Administratorrechte haben oder anderen Sonderfällen.",
		    IDC_JUSTME_TEXT,25,140,125,32
    CONTROL         "Icons auf dem &Desktop anlegen",
		    IDC_ROOT_DESKTOP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,110,150,8
    CONTROL         "Dem &Startmenü Icons hinzufügen",
		    IDC_ROOT_MENU,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,130,150,8
END

IDD_SITE DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CHILD | WS_VISIBLE |
    WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "OSGeo4W Setup - Downloadsite(s) wählen"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_OSGEO4W,IDC_HEADICON,312,0,21,20
    LISTBOX         IDC_URL_LIST,66,45,185,110,LBS_NOINTEGRALHEIGHT |
                    LBS_EXTENDEDSEL | WS_VSCROLL | WS_HSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "Verfügbare Downloadsites:",
		    IDC_STATIC,66,34,183,8,NOT WS_GROUP
    CONTROL         "",IDC_HEADSEPARATOR,"Static",SS_BLACKFRAME | SS_SUNKEN,0,28,339,1
    LTEXT           "Wählen Sie eine Site aus der Liste oder ergänzen Sie eine eigene",
                    IDC_STATIC,21,9,239,16,NOT WS_GROUP
    LTEXT           "Downloadsite wählen",
		    IDC_STATIC_HEADER_TITLE,7,0,258,8,NOT WS_GROUP
    EDITTEXT        IDC_EDIT_USER_URL,65,160,185,14,ES_AUTOHSCROLL | WS_GROUP
    LTEXT           "Benutzer-URL:",
		    IDC_SITE_USERURL,15,162,45,8,NOT WS_GROUP
    PUSHBUTTON      "Hinzufügen",
		    IDC_BUTTON_ADD_URL,255,160,50,14
END

IDD_NET DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_CENTER | WS_CHILD | WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup - Verbindungsart wählen"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "&Direkte Verbindung",
		    IDC_NET_DIRECT,"Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,60,55,73,10
    CONTROL         "&Interneteinstellungen nutzen (IE)",
		    IDC_NET_IE5,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,60,70,185,10
    CONTROL         "HTTP/FTP-&Proxy nutzen:",
		    IDC_NET_PROXY,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,60,85,88,10
    EDITTEXT        IDC_PROXY_HOST,120,105,120,12,ES_AUTOHSCROLL | WS_DISABLED | WS_GROUP
    EDITTEXT        IDC_PROXY_PORT,120,125,30,12,ES_AUTOHSCROLL | WS_DISABLED
    GROUPBOX        "",IDC_STATIC,60,95,185,50
    RTEXT           "Proxy &Host",
		    IDC_STATIC,65,105,50,12,SS_CENTERIMAGE | NOT WS_GROUP
    RTEXT           "Por&t",
		    IDC_STATIC,85,125,30,12,SS_CENTERIMAGE | NOT WS_GROUP
    ICON            IDI_OSGEO4W,IDC_HEADICON,312,0,21,20
    CONTROL         "",IDC_HEADSEPARATOR,"Static",SS_BLACKFRAME | SS_SUNKEN,0,28,339,1
    LTEXT           "Setup muß wissen wie es sich mit dem Internet verbinden soll.  Wählen Sie unten eine entsprechende Option:",
                    IDC_STATIC,21,9,239,16,NOT WS_GROUP
    LTEXT           "Wählen Sie Ihre Internetverbindung",
                    IDC_STATIC_HEADER_TITLE,7,0,258,8,NOT WS_GROUP
END

IDD_INSTATUS DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_CENTER | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Installiere...",
		    IDC_INS_ACTION,45,55,205,8,SS_ENDELLIPSIS
    LTEXT           "(PKG)",
		    IDC_INS_PKG,45,70,205,8,SS_ENDELLIPSIS
    LTEXT           "(DATEI)",
		    IDC_INS_FILE,45,85,205,8,SS_ENDELLIPSIS
    CONTROL         "Progress1",IDC_INS_DISKFULL,"msctls_progress32",
                    PBS_SMOOTH | WS_BORDER,95,130,155,10
    CONTROL         "Progress1",IDC_INS_IPROGRESS,"msctls_progress32",
                    PBS_SMOOTH | WS_BORDER,95,115,155,10
    CONTROL         "Progress1",IDC_INS_PPROGRESS,"msctls_progress32",
                    PBS_SMOOTH | WS_BORDER,95,100,155,10
    LTEXT           "Paket:",
		    IDC_INS_BL_PACKAGE,45,100,47,8,NOT WS_GROUP
    LTEXT           "Gesamt:",
		    IDC_INS_BL_TOTAL,45,115,48,8,NOT WS_GROUP
    LTEXT           "Platte:",
		    IDC_INS_BL_DISK,45,130,47,8,NOT WS_GROUP
    ICON            IDI_OSGEO4W,IDC_HEADICON,312,0,21,20
    CONTROL         "",IDC_HEADSEPARATOR,"Static",SS_BLACKFRAME | SS_SUNKEN,0,28,339,1
    LTEXT           "Dies zeigt den Fortschritt von Download oder Installation an.",
                    IDC_STATIC,21,9,239,16,NOT WS_GROUP
    LTEXT           "Fortschritt",
		    IDC_STATIC_HEADER_TITLE,7,0,258,8,NOT WS_GROUP
END

IDD_PROXY_AUTH DIALOG DISCARDABLE  0, 0, 215, 95
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Proxy-Autorisierung erforderlich"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_OSGEO4W,IDC_HEADICON,5,5,21,20
    LTEXT           "Proxy &Benutzerkennung",
		    IDC_STATIC,5,28,55,15,SS_CENTERIMAGE, WS_EX_RIGHT
    EDITTEXT        IDC_NET_USER,65,28,145,12,ES_AUTOHSCROLL
    LTEXT           "&Paßword",
		    IDC_STATIC,10,43,50,15,SS_CENTERIMAGE, WS_EX_RIGHT
    EDITTEXT        IDC_NET_PASSWD,65,43,145,12,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Proxy-Autorisierung erforderlich",
		    IDC_STATIC,65,10,145,10
    DEFPUSHBUTTON   "&OK",
		    IDOK,100,75,45,15,WS_DISABLED
    PUSHBUTTON      "Abbruch",
		    IDCANCEL,165,75,45,15
END

IDD_NET_AUTH DIALOG DISCARDABLE  0, 0, 215, 95
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Server-Authentifikation erforderlich"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_OSGEO4W,IDC_HEADICON,5,5,21,20
    LTEXT           "&Benutzerkennung",
		    IDC_STATIC,5,28,55,15,SS_CENTERIMAGE, WS_EX_RIGHT
    EDITTEXT        IDC_NET_USER,65,28,145,12,ES_AUTOHSCROLL
    LTEXT           "&Paßword",
		    IDC_STATIC,10,43,50,15,SS_CENTERIMAGE, WS_EX_RIGHT
    EDITTEXT        IDC_NET_PASSWD,65,43,145,12,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "Serverauthentifikation erforderlich",
		    IDC_STATIC,65,10,145,10
    DEFPUSHBUTTON   "&OK",
		    IDOK,100,75,45,15,WS_DISABLED
    PUSHBUTTON      "Abbruch",
		    IDCANCEL,165,75,45,15
END

IDD_SPLASH DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CHILD | WS_VISIBLE |
    WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "OSGeo4W Net Release Setup Programm",
                    IDC_STATIC_WELCOME_TITLE,35,1,250,24
    LTEXT           "Diese Setupprogramm wird zur initialen Installation der OSGeo4W-Umgebung sowie nachfolgenden Updates gebraucht.  Merken Sie sich, wo Sie es gespeichert haben.\r\n\r\nDie folgenden Seiten werden Sie durch die Installation führen.  Bitte beachten Sie, dass OSGeo4W aus einer großen Zahl von Paketen besteht, die zu vielen Zwecken eingesetzt werden können.  Anfänglich werden davon nur wenige Pakete installiert.  Sie können diese Programm jederzeit wieder starten, um bei Bedarf Pakete zur löschen, hinzufügen oder zu aktualisieren.",
		    IDC_SPLASH_TEXT,35,25,265,90
    CONTROL         "&Desktop-Schnellinstallation",
		    IDC_EXPRESS_D,"Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,50,104,100,20
    CONTROL         "Web&GIS-Schnellinstallation",
		    IDC_EXPRESS_I,"Button", BS_AUTORADIOBUTTON | WS_TABSTOP,50,124,100,20
    CONTROL         "&Fortgeschrittene Installation",
		    IDC_ADVANCED,"Button", BS_AUTORADIOBUTTON | WS_TABSTOP,50,144,100,20
    ICON         IDI_OSGEO4W,IDC_HEADICON,290,0,21,20
END

IDD_DESKTOP DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup - Installationstatus und Anlegen von Icons"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_OSGEO4W,IDC_HEADICON,290,0,21,20
    CONTROL         "",IDC_HEADSEPARATOR,"Static",SS_BLACKFRAME | SS_SUNKEN,0,28,339,1
    LTEXT           "OSGeo4W-Installation erfolgreich abgeschlossen.",
                    IDC_STATIC_HEADER,21,9,239,16,NOT WS_GROUP
    LTEXT           "Installationsstatus",
		    IDC_STATIC_HEADER_TITLE,7,0,258,8,NOT WS_GROUP
    CONTROL         "",IDC_DESKTOP_SEPARATOR,"Static",SS_BLACKFRAME | SS_SUNKEN,0,135,339,1
    LTEXT           "",IDC_STATUS_HEADER,7,140,258,8,NOT WS_GROUP
    LTEXT           "OSGeo4W-Installation erfolgreich abgeschlossen.",
		    IDC_STATUS,21,149,279,36,NOT WS_GROUP
END

IDD_FTP_AUTH DIALOG DISCARDABLE  0, 0, 215, 95
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "FTP-Authorisierung erforderlich"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_OSGEO4W,IDC_HEADICON,5,5,21,20
    LTEXT           "&Benutzerkennung",
		    IDC_STATIC,5,28,55,15,SS_CENTERIMAGE, WS_EX_RIGHT
    EDITTEXT        IDC_NET_USER,65,28,145,12,ES_AUTOHSCROLL
    LTEXT           "&Paßword",
		    IDC_STATIC,10,43,50,15,SS_CENTERIMAGE, WS_EX_RIGHT
    EDITTEXT        IDC_NET_PASSWD,65,43,145,12,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "FTP-Authorisierung erforderlich",
		    IDC_STATIC,65,10,145,10
    DEFPUSHBUTTON   "&OK",
		    IDOK,100,75,45,15,WS_DISABLED
    PUSHBUTTON      "Abbruch",
		    IDCANCEL,165,75,45,15
END

IDD_CHOOSE DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION |
    WS_SYSMENU
CAPTION "OSGeo4W Setup - Pakete wählen"
FONT 8, "MS Shell Dlg"
BEGIN
    RTEXT           "&Suchen",
		    IDC_STATIC, 0, 30, 32, 12, SS_CENTERIMAGE, WS_EX_RIGHT
    EDITTEXT        IDC_CHOOSE_SEARCH_EDIT, 34, 30, 90, 12
    PUSHBUTTON      "&Löschen",
		    IDC_CHOOSE_CLEAR_SEARCH, 126, 30, 32, 12
    CONTROL         "&Behalten",
		    IDC_CHOOSE_KEEP,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,130,30,30,14
    CONTROL         "&Vorh.",
		    IDC_CHOOSE_PREV,"Button",BS_AUTORADIOBUTTON,165,30,30,14
    CONTROL         "&Akt.",
		    IDC_CHOOSE_CURR,"Button",BS_AUTORADIOBUTTON,190,30,30,14
    CONTROL         "E&xp.",
		    IDC_CHOOSE_EXP,"Button",BS_AUTORADIOBUTTON ,226,30,30,14
    PUSHBUTTON      "&Ansicht",
		    IDC_CHOOSE_VIEW,261,30,26,14,WS_GROUP
    CONTROL         "",IDC_HEADSEPARATOR,"Static",SS_BLACKFRAME | SS_SUNKEN,0,28,339,1
    CONTROL         "",IDC_LISTVIEW_POS,"Static",SS_BLACKFRAME | NOT WS_VISIBLE,7,45,325,122
    CONTROL         "&Veraltete Pakete ausblenden",
		    IDC_CHOOSE_HIDE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,167,160,14
    ICON            IDI_OSGEO4W,IDC_HEADICON,312,0,21,20
    LTEXT           "Wählen Sie die Pakete, die installiert werden sollen.",
                    IDC_CHOOSE_INST_TEXT,21,9,239,16,NOT WS_GROUP
    LTEXT           "Pakete wählen",
		    IDC_STATIC_HEADER_TITLE,7,0,258,8,NOT WS_GROUP
    LTEXT           "",IDC_CHOOSE_VIEWCAPTION,292,33,40,10
END

IDD_PREREQ DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_3DLOOK | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup - Abhängigkeiten auflösen"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "",IDC_HEADSEPARATOR,"Static",SS_BLACKFRAME | SS_SUNKEN,0,28,339,1
    ICON            IDI_OSGEO4W,IDC_HEADICON,312,0,21,20
    LTEXT           "Warnung!  Nicht erfüllte Abhängigkeiten gefunden",
		    IDC_STATIC_HEADER_TITLE,7,0,258,8,NOT WS_GROUP
    LTEXT           "Die folgenden Pakete sind erforderlich, wurde aber nicht gewählt.",
		    IDC_STATIC,21,9,239,16,NOT WS_GROUP
    CONTROL         "&Diese Pakete installieren, um die Abhängigkeiten zu erfüllen (EMPFOHLEN)",
		    IDC_PREREQ_CHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,167,225,14
    EDITTEXT        IDC_PREREQ_EDIT,7,41,303,124,WS_VSCROLL | WS_HSCROLL |
                    ES_LEFT | ES_MULTILINE | ES_READONLY | ES_AUTOHSCROLL |
                    ES_AUTOVSCROLL
END

IDD_DROPPED DIALOG DISCARDABLE  0, 0, 339, 142
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup - Entfernte Spiegel nutzen?"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Warnung:",
		    IDC_STATIC,7,8,40,8
    LTEXT           "Ein oder mehrere gewählte Spiegel sind nicht mehr in der offiziellen Spiegelliste. Sie könnten nicht aktuell oder unvollständig sein.\nDies betrifft folgende Spiegel:",
                    IDC_STATIC,47,8,263,32
    EDITTEXT        IDC_DROP_MIRRORS,7,40,303,40,WS_VSCROLL | WS_HSCROLL |
                    ES_LEFT | ES_MULTILINE | ES_READONLY | ES_AUTOHSCROLL |
                    ES_AUTOVSCROLL
    LTEXT           "Wenn Sie Installationsprobleme feststellen, sollten in Betracht ziehen nur offizielle Spiegel zu nutzen.\n\nWollen Sie mit diesen Spiegeln fortfahren?",
                    IDC_STATIC,7,88,303,24
    CONTROL         "Vor diesen Spiegel &nicht wieder warnen",
                    IDC_DROP_NOWARN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,120,213,15
    PUSHBUTTON      "&Ja",
		    IDYES,220,120,45,15
    DEFPUSHBUTTON   "&Nein",
		    IDNO,265,120,45,15
END

IDD_POSTINSTALL DIALOG DISCARDABLE  0, 0, 339, 142
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CHILD | WS_VISIBLE |
    WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup - Nachinstallationsskripte werden ausgeführt"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "",
		    IDC_HEADSEPARATOR,"Static",SS_BLACKFRAME | SS_SUNKEN,0,28,339,1
    ICON            IDI_OSGEO4W,IDC_HEADICON,290,0,21,20
    LTEXT           "Nachinstallationsskriptfehler",
		    IDC_STATIC_HEADER_TITLE,7,0,258,8,NOT WS_GROUP
    LTEXT           "Diese bedeuten nicht zwangslaeufig, dass die betroffenen Pakete nicht richtig funktionen, pruefen Sie aber bitte /var/log/setup.log.full und berichten Sie Probleme.",
                    IDC_POSTINSTALL_HEADER,21,9,239,16,NOT WS_GROUP
    EDITTEXT        IDC_POSTINSTALL_EDIT,7,41,303,112,WS_VSCROLL | WS_HSCROLL |
                    ES_LEFT | ES_MULTILINE | ES_READONLY | ES_AUTOHSCROLL |
                    ES_AUTOVSCROLL

END

IDD_EXP_PACKAGES DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CHILD | WS_VISIBLE |
    WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup - Schnellpaketauswahl"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "MapServer",IDC_PKG_MAPSERVER,"Button",
                    BS_AUTOCHECKBOX,108,48,100,8
    CONTROL         "QGIS",IDC_PKG_QGIS,"Button",
                    BS_AUTOCHECKBOX,108,63,100,8
    CONTROL         "GDAL",IDC_PKG_GDAL,"Button",
                    BS_AUTOCHECKBOX,108,78,100,8
    CONTROL         "Apache",IDC_PKG_APACHE,"Button",
                    BS_AUTOCHECKBOX,108,93,45,8
    CONTROL         "uDig",IDC_PKG_UDIG,"Button",
                    BS_AUTOCHECKBOX,108,108,100,8
    CONTROL         "OpenEV",IDC_PKG_OPENEV,"Button",
                    BS_AUTOCHECKBOX,108,123,100,8
    CONTROL         "GRASS GIS",IDC_PKG_GRASS,"Button",
                    BS_AUTOCHECKBOX,108,138,100,8
    ICON            IDI_OSGEO4W,IDC_HEADICON,290,0,21,20
    LTEXT           "Portnummer:",
		    IDC_APACHE_PORT_LABEL,154,90,40,15,SS_CENTERIMAGE, WS_EX_RIGHT
    EDITTEXT        IDC_APACHE_PORT,210,90,25,12,ES_AUTOHSCROLL
    LTEXT           "Pakete wählen",
		    IDC_STATIC_HEADER_TITLE,7,0,258,8,NOT WS_GROUP
END

IDD_LICENSE DIALOG DISCARDABLE  0, 0, 339, 179
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_CHILD | WS_VISIBLE |
    WS_CAPTION | WS_SYSMENU
CAPTION "OSGeo4W Setup - Zustimmung zu restriktiven Lizenzbedingungen"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Nicht-Open-Source Lizenzbedingungen",
                    IDC_STATIC_LICENSE_TITLE,35,1,195,24
    LTEXT           "Bitte lesen Sie vor der OSGeo4W-Installation die Lizenzbedingungen.",
                    IDC_STATIC_LICENSE_TEXT,35,25,265,40
    CONTROL         "Lizenz", IDC_LICENSE_FILE, RICHEDIT_CLASS, ES_MULTILINE | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_HSCROLL | WS_VSCROLL | ES_LEFT | ES_READONLY,
		    35,80,260,75
    CONTROL         "Ich stimme obigen Lizenzbedingungen zu",IDC_CHK_AGREED,"Button",
                    BS_AUTOCHECKBOX,35,160,200,8
    PUSHBUTTON      "Drucken", IDC_PRINT_BUTTON,261,161,35,14
    ICON            IDI_OSGEO4W,IDC_HEADICON,290,0,21,20
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ROOT_SLASH          "Warnung: wir empfehlen NICHT das Hauptverzeichnis Ihrer Festplatte als OSGeo4W-Wurzelverzeichnis zu wählen.  Trotzdem fortfahren?"
    IDS_ROOT_SPACE          "Sie sollten keine Wurzelverzeichnis mit Leerzeichen wählen.  Trotzdem fortfahren?"
    IDS_ERR_OPEN_WRITE      "Kann %s nicht zum Schreiben öffnen: %s"
    IDS_SETUPINI_MISSING    "Kann %s nicht von <%s> laden"
    IDS_OLD_SETUPINI        "Diese setup.ini ist älter als die, die Sie bei der letzen OSGeo4W-Installation verwendet haben.  Trotzdem fortfahren?"
    IDS_NOTHING_INSTALLED   "Es muß nichts installiert werden"
    IDS_INSTALL_COMPLETE    "Installation abgeschlossen"
    IDS_REBOOT_REQUIRED     "In Benutzung befindliche Dateien wurden ausgetauscht. Sie müssen zeitnah neustarten, um die neuen Versionen zu aktivieren. OSGeo4W könnte bis zum Neustart nicht richtig funktionieren."
    IDS_ERR_OPEN_READ       "Kann %s nicht zu Lesen öffnen: %s"
    IDS_ROOT_ABSOLUTE       "Das Installationsverzeichnis muß absolut mit Laufwerkbuchstabe und führendem Rückstrich angegeben werden, wie z.B. C:\\OSGeo4W"
    IDS_DOWNLOAD_COMPLETE   "Download abgeschlossen."
    IDS_NOLOGFILE           "Kann Logdatei %s nicht zum Schreiben öffnen"
    IDS_UNINSTALL_COMPLETE  "Deinstallationen abgeschlossen."
    IDS_WININET             "Kann die Internet-Explorer 5 DLLs nicht finden"
    IDS_ERR_CHDIR           "Konnte nicht in Verzeichnis %s wechseln: %s [%.8x]"
    IDS_OLD_SETUP_VERSION   "Diese Setupversion ist%s, aber setup.ini behauptet %s sei verfügbar.\nSie sollten upgraden um die letzten Leistungsmerkmale und Fehlerbereinigungen zu erhalten."
    IDS_DOWNLOAD_INCOMPLETE "Download unvollständig.  Wiederholen?"
    IDS_INSTALL_ERROR	    "Installationsfehler (%s), mit anderen Paketen fortfahren?"
    IDS_INSTALL_INCOMPLETE  "Installation unvollständig.  Details finden Sie in %s"
    IDS_CORRUPT_PACKAGE     "Die lokale Kopie der Paketdatei %s ist kaputt.  Bitte entfernen Sie sie und versuchen Sie es erneut."
    IDS_SKIP_PACKAGE	    "%s\nWollen Sie das diese Paket überspringen?"
    IDS_WINDOW_INIT_BADMSG  "Fataler Fehler: Unerwartete Windows-Nachricht %u zu früh während der Fensterinitialierung erhalten."
    IDS_UNCAUGHT_EXCEPTION  "Fataler Fehler: Nicht abgefangene Ausnahme\nThread: %s\nTyp: %s\nNachricht: %s"
    IDS_UNCAUGHT_EXCEPTION_WITH_ERRNO  "Fataler Fehler: Nicht abgefangene Ausnahme\nThread: %s\nTyp: %s\nNachricht: %s\nAppErrNo: %d"
    IDS_TRUSTKEEP_TOOLTIP   "Setze alle Pakete auf ihre gegenwärtig installierte Version. Dadurch wird Setup mitgeteilt, keine Änderungen an Paketen vorzunehmen."

    IDS_TRUSTPREV_TOOLTIP   "Die als 'Vorh.' markierte Version global markieren,  dies ist die letzte als stabile betrachtete Version vor der aktuellen stabilen Version."

    IDS_TRUSTCURR_TOOLTIP   "Global die Version wählen, die gegenwärtig am stabilsten angesehen wird. (EMPFOHLEN)"

    IDS_TRUSTEXP_TOOLTIP    "Global die neueste Version wählen, selbst wenn die Version experimentell ist oder nur zum Test durch Paketbetreuer hochgeladen wurde."
    IDS_VIEWBUTTON_TOOLTIP  "Schaltet die Paketansichten durch.  Dies legt fest welche Pakete in der Auswahl angezeigt werden.\r\n\r\nKategorie: Pakete nach Kategorien gruppieren.  '+' zum Aufklappen klicken.\r\n\r\nVoll: Alle Pakete anzeigen.\r\n\r\nFällig: Nur Pakete anzeigen, die installiert, entfernt oder aktualisiert werden sollen. Dies zeigt alle Änderungen an, die Setup vornehmen wird, wenn Sie 'Weiter' klicken.\r\n\r\nAktuell: Alle Pakete anzeigen, die unverändert bleiben, weil sie bereits in der gewünschten Version vorliegen.\r\n\r\nNicht installiert: Alle Pakete, die noch nicht installiert sind und auch nicht zur Installation gewählt wurden."

    IDS_HIDEOBS_TOOLTIP         "Wenn gewählt wird Setup alle Pakete in Kategorien, die mit '_' beginnen ausblenden Solche Pakete sind normalerweise leer und Platzhalter für Pakete, die entfernt oder umbenannt oder Infrastrukturpakete sind, die automatisch behandelt werden."

    IDS_SEARCH_TOOLTIP		"Diese Zeichenkette in Paketnamen suchen"
    IDS_LOCAL_DIR_DOWNLOAD	"Wählen Sie ein Verzeichnis in dem die heruntergeladenen Installationsdateien abgelegt werden sollen. Das Verzeichnis wird ggf. erzeugt."

    IDS_LOCAL_DIR_INSTALL	"Wählen Sie das Verzeichnis in dem sich die Installationsdateien befinden."

    IDS_MAYBE_MKDIR		"Verzeichnis %s existiert nicht. Soll es erstellt werden?"
    IDS_CANT_MKDIR		"Konnte das Verzeichnis %s nicht angelegen (Kein freier Platz oder schreibgeschützt.?"
    IDS_NO_CWD			"Lokales Paketverzeichnis %s nicht gefunden.\nSie können setup-%s.exe immer noch verwenden um installierte Pakete zu entfernen\naber es wird nichts zu Installieren sein.\n\nKlicken Sie 'OK', wenn Sie das wünschen oder 'Abbruch', um ein anderes Verzeichnis zu wählen."
    IDS_SELPKG_DOWNLOAD		"Pakete zum Download wählen "
    IDS_SELPKG_INSTALL		"Pakete zur Installation wählen "
    IDS_UNINSTALL		"Deinstallieren"
    IDS_SKIP			"Überspringen"
    IDS_REINSTALL		"Neuinstallieren"
    IDS_RETRIEVE		"Laden"
    IDS_SOURCE			"Quelle"
    IDS_KEEP			"Behalten"
    IDS_SEL_DOWNLOAD_DIR	"Download-Verzeichnis wählen"
    IDS_SEL_LOCAL_DIR		"Paket-Verzeichnis wählen"
    IDS_UNKNOWN_ERR		"Unbekannter Fehler"
    IDS_LIST_CURRENT		"Aktuell"
    IDS_LIST_NEW		"Neu"
    IDS_LIST_BIN		"Bin?"
    IDS_LIST_SRC		"Src?"
    IDS_LIST_CATEGORIES		"Kategorien"
    IDS_LIST_CATEGORY		"Kategorie"
    IDS_LIST_SIZE		"Größe"
    IDS_LIST_PACKAGE		"Paket"
    IDS_CAPTION_FULL		"Voll"
    IDS_CAPTION_PENDING		"Fällig"
    IDS_CAPTION_UPTODATE	"Aktuell"
    IDS_CAPTION_NOTINSTALLED	"Nicht Inst."
    IDS_CAPTION_CATEGORY	"Kategorie"
    IDS_CAPTION_LIC_PACKAGE	"Bitte lesen Sie die Lizenzbedingungen der folgenden Pakete und stimmen Sie ihnen zu:\r\n%s"
    IDS_LICENSE_MISSING		"Konnte Lizenzdatei %s nicht von <%s> laden"
    IDS_LICENSE_NOLOAD		"Installation fand die Lizenzdatei von %s nicht. Bitte überprüfen Sie, ob sie heruntergeladen wurden."
    IDS_LICENSE_EMPTYPATH	"Es gibt keine Lizenzdatei zu %s auf dem Server"
    IDS_NOTHING_TO_INSTALL_OR_UPGRADE "Nichts zu installieren oder zu aktualisieren"
    IDS_NOTHING_TO_DOWNLOAD	"Nichts herunterzuladen"
END
